/* line 3, ../sass/style.scss */
* {
  font-family: lato, sans-serif;
}

/* line 15, ../sass/style.scss */
.truncate, .media-cards .card a .card-title span {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 22, ../sass/style.scss */
.header {
  overflow: auto;
  background: #34384F;
}
/* line 25, ../sass/style.scss */
.header .main-menu {
  margin-top: 50px;
}
/* line 27, ../sass/style.scss */
.header .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/style.scss */
.header .main-menu ul li {
  display: inline-block;
}
/* line 33, ../sass/style.scss */
.header .main-menu ul li a {
  color: white;
  display: block;
  padding: 10px 15px;
  font-weight: 200;
  font-size: 16px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  box-shadow: inset 0 0 white;
}
/* line 41, ../sass/style.scss */
.header .main-menu ul li a:hover, .header .main-menu ul li a.active {
  text-decoration: none;
  box-shadow: inset 0 -3px white;
}
/* line 47, ../sass/style.scss */
.header .main-menu ul.pull-right input {
  border: none;
  padding: 7px 15px;
  font-size: 12px;
  outline: none;
}
/* line 55, ../sass/style.scss */
.header .main-title {
  font-size: 60px;
  color: white;
  font-weight: 200;
  padding-top: 65px;
  text-align: center;
}
/* line 62, ../sass/style.scss */
.header .main-user {
  padding: 15px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: capitalize;
}
/* line 68, ../sass/style.scss */
.header .main-user i {
  margin-left: 10px;
}

#login {
  background-size: cover;
  background: url(http://i.imgur.com/F2d863X.jpg);
}
/* line 115, ../sass/style.scss */
#login .cover {
  background: rgba(52, 56, 79, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 124, ../sass/style.scss */
#login .login a {
  font-weight: 300;
  font-size: 13px;
  color: #898989;
}
/* line 129, ../sass/style.scss */
#login .login h1 {
  margin-top: 0;
  font-weight: 200;
  font-size: 55px;
  text-align: center;
  padding: 20px 0;
  color: white;
}
/* line 137, ../sass/style.scss */
#login .login form {
  padding: 20px 30px;
  background: white;
  border-radius: 3px;
  overflow: auto;
}
/* line 142, ../sass/style.scss */
#login .login form input {
  outline: none;
  margin: 5px 0;
  border: 1px solid rgba(57, 62, 83, 0.31);
  padding: 7px;
  font-size: 12px;
  border-radius: 3px;
}
/* line 150, ../sass/style.scss */
#login .login form input[type=submit] {
  background: #34384F;
  color: white;
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
}
