* line 3, ../sass/style.scss */
* {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important;
}

/* line 16, ../sass/style.scss */
.truncate, .media-cards .card a .card-title span, .ficha .ficha_content .actor-card span {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes bigHeader {
  from {
    padding: 0 0;
  }
  to {
    padding: 100px 0;
  }
}
/* Standard syntax */
@keyframes bigHeader {
  from {
    padding: 0 0;
  }
  to {
    padding: 100px 0;
  }
}
@-webkit-keyframes headerTransition {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
/* Standard syntax */
@keyframes headerTransition {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
/* line 67, ../sass/style.scss */
body {
  background-color: #EAEAEA;
}
/* line 69, ../sass/style.scss */
body hr {
  border-color: rgba(181, 181, 181, 0.2);
}
/* line 72, ../sass/style.scss */
body h1 {
  font-weight: 300;
}

/* line 77, ../sass/style.scss */
.header {
  overflow: auto;
  background: #34384F;
  position: relative;
}
/* line 81, ../sass/style.scss */
.header .background_header {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
  -webkit-animation: headerTransition 1s ease-in-out;
  -moz-animation: headerTransition 1s ease-in-out;
  -ms-animation: headerTransition 1s ease-in-out;
  -o-animation: headerTransition 1s ease-in-out;
  animation: headerTransition 1s ease-in-out;
}
/* line 97, ../sass/style.scss */
.header .container {
  position: relative;
  z-index: 1;
}
/* line 101, ../sass/style.scss */
.header .logo {
  width: 88px;
}
/* line 104, ../sass/style.scss */
.header .main-menu {
  margin-top: 40px;
}
/* line 106, ../sass/style.scss */
.header .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 110, ../sass/style.scss */
.header .main-menu ul li {
  display: inline-block;
}
/* line 112, ../sass/style.scss */
.header .main-menu ul li a {
  color: white;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  box-shadow: inset 0 0 white;
}
/* line 120, ../sass/style.scss */
.header .main-menu ul li a:hover, .header .main-menu ul li a.active {
  text-decoration: none;
  box-shadow: inset 0 -3px white;
}
/* line 126, ../sass/style.scss */
.header .main-menu ul.pull-right input {
  border: none;
  padding: 7px 15px;
  font-size: 12px;
  outline: none;
  border-radius: 2px;
}
/* line 135, ../sass/style.scss */
.header .main-title {
  font-size: 100px;
  color: white;
  font-weight: 200;
  margin-top: 50px;
  text-align: center;
  font-family: bangers, sans-serif;
  line-height: 120px;
}
/* line 143, ../sass/style.scss */
.header .main-title.big {
  padding: 100px 0;
  -webkit-animation: bigHeader .5s ease-in-out;
  -moz-animation: bigHeader .5s ease-in-out;
  -ms-animation: bigHeader .5s ease-in-out;
  -o-animation: bigHeader .5s ease-in-out;
  animation: bigHeader .5s ease-in-out;
}
/* line 152, ../sass/style.scss */
.header .main-user {
  padding: 15px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
/* line 158, ../sass/style.scss */
.header .main-user i {
  margin-left: 10px;
}

/* line 164, ../sass/style.scss */
.media-cards {
  overflow: auto;
}
/* line 167, ../sass/style.scss */
.media-cards .card a {
  display: block;
  box-shadow: 0 1px 10px rgba(52, 56, 79, 0.1);
  margin-bottom: 25px;
  color: #34384F;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 178, ../sass/style.scss */
.media-cards .card a:hover {
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(52, 56, 79, 0.3);
}
/* line 183, ../sass/style.scss */
.media-cards .card a .card-image img {
  width: 100%;
}
/* line 186, ../sass/style.scss */
.media-cards .card a .card-image .nota {
  position: absolute;
  right: 0;
  text-align: right;
  margin: 10px 25px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
}
/* line 197, ../sass/style.scss */
.media-cards .card a .card-info {
  padding: 7px 12px 5px;
}
/* line 200, ../sass/style.scss */
.media-cards .card a .card-title {
  padding: 5px 12px 7px;
}
/* line 203, ../sass/style.scss */
.media-cards .card a .card-title span {
  display: block;
  width: 100%;
}

/* line 213, ../sass/style.scss */
#login {
  background-size: cover;
  background: url(http://i.imgur.com/F2d863X.jpg);
}
/* line 216, ../sass/style.scss */
#login h1 {
  font-family: bangers, sans-serif;
}
/* line 219, ../sass/style.scss */
#login small.helptext {
  font-size: 11px;
  color: #bababa;
  text-align: justify;
}
/* line 224, ../sass/style.scss */
#login .cover {
  background: rgba(52, 56, 79, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 233, ../sass/style.scss */
#login .login a {
  font-weight: 300;
  font-size: 13px;
  color: #898989;
}
/* line 238, ../sass/style.scss */
#login .login h1 {
  margin-top: 0;
  font-weight: 200;
  font-size: 55px;
  text-align: center;
  padding: 20px 0;
  color: white;
}
/* line 246, ../sass/style.scss */
#login .login form {
  padding: 20px 30px;
  background: white;
  border-radius: 3px;
  overflow: auto;
}
/* line 251, ../sass/style.scss */
#login .login form input {
  outline: none;
  margin: 5px 0;
  border: 1px solid rgba(57, 62, 83, 0.31);
  padding: 7px;
  font-size: 12px;
  border-radius: 3px;
}
/* line 259, ../sass/style.scss */
#login .login form input[type=submit] {
  background: #34384F;
  color: white;
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
}

/* line 271, ../sass/style.scss */
.card_style, .ficha .ficha_content .summary, .ficha .ficha_content .genres .tag, .ficha .ficha_content .actor-card .card {
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
}

/* line 278, ../sass/style.scss */
.ficha {
  padding-top: 30px;
}
/* line 281, ../sass/style.scss */
.ficha .imagePoster img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
/* line 288, ../sass/style.scss */
.ficha .imagePoster .media-status {
  margin-top: 20px;
}
/* line 290, ../sass/style.scss */
.ficha .imagePoster .media-status .btn {
  margin-bottom: 10px;
  border: none;
  padding: 10px 0 12px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #34384F;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 298, ../sass/style.scss */
.ficha .imagePoster .media-status .btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* line 306, ../sass/style.scss */
.ficha .ficha_content .title {
  margin: -5px 0 -10px;
  font-size: 60px;
  line-height: 60px;
}
/* line 310, ../sass/style.scss */
.ficha .ficha_content .title span {
  background: white;
  border: none;
  color: black;
  font-size: 12px;
  margin-left: 10px;
  cursor: default;
}
/* line 319, ../sass/style.scss */
.ficha .ficha_content .summary {
  font-size: 15px;
  text-align: justify;
  margin: 10px 0;
}
/* line 325, ../sass/style.scss */
.ficha .ficha_content .space {
  height: 20px;
  clear: both;
}
/* line 329, ../sass/style.scss */
.ficha .ficha_content .genres {
  margin-top: 10px;
}
/* line 331, ../sass/style.scss */
.ficha .ficha_content .genres .tag {
  margin: 0 10px 5px 0;
  display: inline-block;
  background: #607D8B;
  color: white;
  font-weight: 600;
  padding: 7px 12px;
  cursor: default;
}
/* line 343, ../sass/style.scss */
.ficha .ficha_content .actor-card .card {
  padding: 10px;
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
}
/* line 350, ../sass/style.scss */
.ficha .ficha_content .actor-card .photo {
  background-image: url(https://image.tmdb.org/t/p/w300//hHiLJl7yvDwbtbgdvTQKa7HuQCx.jpg);
  width: 43px;
  height: 43px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}
/* line 360, ../sass/style.scss */
.ficha .ficha_content .actor-card span {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
}
/* line 365, ../sass/style.scss */
.ficha .ficha_content .actor-card .character {
  display: block;
  font-size: 16px;
}
/* line 369, ../sass/style.scss */
.ficha .ficha_content .actor-card .name {
  color: rgba(0, 0, 0, 0.5);
}

/* line 376, ../sass/style.scss */
.footer {
  margin-top: 50px;
  padding: 20px 0 15px;
  background: #34384F;
  color: white;
  box-sizing: border-box;
}
/* line 382, ../sass/style.scss */
.footer .logo_font {
  font-size: 20px;
  font-family: bangers, sans-serif;
}
