* line 3, ../sass/style.scss */
* {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important;
}

/* line 16, ../sass/style.scss */
.truncate, .media-cards .card a .card-title span, .ficha .ficha_content .actor-card span {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes bigHeader {
  from {
    padding: 0 0;
  }
  to {
    padding: 100px 0;
  }
}
/* Standard syntax */
@keyframes bigHeader {
  from {
    padding: 0 0;
  }
  to {
    padding: 100px 0;
  }
}
@-webkit-keyframes headerTransition {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
/* Standard syntax */
@keyframes headerTransition {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
/* line 67, ../sass/style.scss */
body {
  background-color: #EAEAEA;
}
/* line 69, ../sass/style.scss */
body hr {
  border-color: rgba(181, 181, 181, 0.2);
}
/* line 72, ../sass/style.scss */
body h1 {
  font-weight: 300;
}

/* line 77, ../sass/style.scss */
.header {
  overflow: auto;
  background: #34384F;
  position: relative;
}
/* line 81, ../sass/style.scss */
.header .background_header {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
  -webkit-animation: headerTransition 1s ease-in-out;
  -moz-animation: headerTransition 1s ease-in-out;
  -ms-animation: headerTransition 1s ease-in-out;
  -o-animation: headerTransition 1s ease-in-out;
  animation: headerTransition 1s ease-in-out;
}
/* line 97, ../sass/style.scss */
.header .container {
  position: relative;
  z-index: 1;
}
/* line 101, ../sass/style.scss */
.header .logo {
  width: 88px;
}
/* line 104, ../sass/style.scss */
.header .main-menu {
  margin-top: 40px;
}
/* line 106, ../sass/style.scss */
.header .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 110, ../sass/style.scss */
.header .main-menu ul li {
  display: inline-block;
}
/* line 112, ../sass/style.scss */
.header .main-menu ul li a {
  color: white;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  box-shadow: inset 0 0 white;
}
/* line 120, ../sass/style.scss */
.header .main-menu ul li a:hover, .header .main-menu ul li a.active {
  text-decoration: none;
  box-shadow: inset 0 -3px white;
}
/* line 126, ../sass/style.scss */
.header .main-menu ul.pull-right input {
  border: none;
  padding: 7px 15px;
  font-size: 12px;
  outline: none;
  border-radius: 2px;
}
/* line 135, ../sass/style.scss */
.header .main-title {
  font-size: 100px;
  color: white;
  font-weight: 200;
  margin-top: 50px;
  text-align: center;
  font-family: bangers, sans-serif;
  line-height: 120px;
}