{% include "header.html" %}
<div class="row">
    <div class="col-md-12">
        <h1>Películas</h1>
        <hr>

        <div class="media-cards row">
            {% for data in data_raw_movies.results %}
            <div class="card col-md-2 col-sx-6 col-sm-4">
                <a href="/peliculas/{{data.id}}">
                    <div class="card-image">
                        <img src="https://image.tmdb.org/t/p/w185/{{data.poster_path}}">
                    </div>
                    <div class="row card-info">
                        <div class="col-md-6 col-sm-6 col-sx-6">{{data.release_date|slice:":4"}}</div>
                        <div class="col-md-6 col-sm-6 col-sx-6 text-right">{{data.vote_average}}/10</div>
                    </div>
                    <div class="card-title">
                        <span>{{data.title}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <h1>Series</h1>
        <hr>

        <div class="media-cards row">
            {% for data in data_raw_series.results %}
            <div class="card col-md-2 col-sx-6 col-sm-4">
                <a href="/series/{{data.id}}">
                    <div class="card-image">
                        <img src="https://image.tmdb.org/t/p/w185/{{data.poster_path}}">
                    </div>
                    <div class="row card-info">
                        <div class="col-md-6 col-sm-6 col-sx-6">{{data.first_air_date|slice:":4"}}</div>
                        <div class="col-md-6 col-sm-6 col-sx-6 text-right">{{data.vote_average}}/10</div>
                    </div>
                    <div class="card-title">
                        <span>{{data.name}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>